* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

@media(max-width: 1280px) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: solid #e5e7eb;
}

.hero-content {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 50%;
    justify-content: space-between;
   
}

.All {
    font-size: 5rem;
    
}

@media(max-width:900px) {
    .All{
        font-size: 3rem;
    }
}

@media(max-width:500px) {
    .All{
        font-size: 2rem;
    }
}


.pg {
    color: #2e3138;

}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    color: #16a34a;
    font-size: 3rem;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 15px;

}

@media (max-width: 700px) {
    .nav-items {
        display: none;
    }
}


.list{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.list i {
    color: #16a34a;
    flex-shrink: 0;
    margin-top: 2px;
}

.nav-items a {
    text-decoration: none;
    color: #6b7280;
}

.sign-in-btn {

    background-color: #16a34a;
    border-radius: 7px;
    padding: 1rem 2rem;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.view {

    background-color: #d0d0d0;
    border-radius: 7px;
    padding: 1rem 2rem;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.Order-list {
    list-style: none;
    color: #2e3138;
}


.order-list-container{
    display: flex;
}


.Same {
    background: #d0d0d0;
    border-radius: 2rem;
    width: fit-content;
    color: #2e3138;
    padding: 2px 10px;
}

@media (max-width: 400px) {
    .Same {
        font-size: 1rem;
    }
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 3rem;
    flex-basis: 50%;
}

.veg {
    width: 40rem;
    height: 30rem;
    border-radius: 1rem;
}

@media (max-width: 900px) {
    .veg {
       width: 40rem;
       height: 30rem;
    }
}


@media (max-width: 850px) {
    .image-wrapper {
      display: none;
    }
}

.btn {
    display: flex;
    gap: 2rem;
}



@media (max-width: 735px) {
    .btn {
      flex-direction: column;
    }
}

@media (max-width: 420px) {
    .btn {
      font-size: 10px;
    }
}

.How-container{
    background-color: rgb(208, 220, 215);
    padding: 5rem 2rem;
}


.Fresh-Text-content{
     text-align: center;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}



.Fresh-Text-content h3{
    font-size: 3.2rem;
   font-weight: 500;
   padding-bottom: 5px;
}

.Fresh-Text-content p{
    color: #4b5563
}

.How-it-works-card-container{
    display: flex;
    gap: 2rem;
    padding: 2rem 3rem;

}

@media (max-width: 858px) {
    .How-it-works-card-container {
        display: flex;
      flex-direction: column;
    }
}

.How-it-works-card-container i{
font-size: 3rem;
 color: #02e154;
 background-color: #d8f1e1;
 width: fit-content;
 padding:5px;
}

.How-it-works-card{
display: flex;
flex-direction: column;
padding: 3rem;
gap: 1.5rem;
border-radius: 8px;
background-color: white;}

.How-it-works-card p{
    color: #4b5563;
}


.Everything-container{
    padding: 5rem 2rem;
}

.Text-content{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.Text-content h3{
   font-size: 3.2rem;
   font-weight: 500;
   padding-bottom: 5px;
}

.Text-content p{
    color: #4b5563;
}


.Ecard-container ul{
    list-style: none;
    color: #4b5563;
}

.Ecard-container p{
    color: #4b5563;}

.Ecard-container{
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
    
}

@media (max-width: 875px) {
    .Ecard-container {
        display: flex;
      flex-direction: column;
    }
}

.Everything-you-need-card{
display: flex;
flex-direction: column;
padding: 3rem;
gap: 1.5rem;
border: 1px solid #e5e7eb;
border-radius: 8px;
}

.Ready-container{
    background-color: rgb(208, 220, 215);
    padding: 4rem 2rem;
}



.Ready-content{
    display: flex;
    flex-direction: column;
    align-items: center;
      background-color: #16a34a;
      padding: 5rem;
      border-radius: 10px;
      width: fit-content;
      justify-content: center;
      padding: 3rem 7rem;
        gap: 2rem;
      
}


@media (max-width: 540px) {
    .Ready-content {
     padding: 30px 20px;
     text-align: center;
    }
}

.Ready-content h3{
font-size: 3.2rem;
   font-weight: 500;
   padding-bottom: 5px;
   color: white;
   display: flex;
 
 
}

.Ready-content p{
    color: white;
    max-width: 70rem;
    text-align: center;
    line-height: 1.6;
    font-size: 1.5rem;
}

.Ready-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}



.Account{
    background-color: white;
    width: fit-content;
    border-radius: 5px;
    border-width: 0px;
    padding: 10px;
    font-weight: 700;
}


.Reserved{
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 7rem;
}

@media (max-width: 875px) {
    .Reserved {
        display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
}


.Reserved::before{
    content: '';
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e5e7eb;
}

.Reserved p{
    color: #6b7280;
}