* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media(max-width: 1280px) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: Poppins, sans-serif;
    font-size: 2rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: solid #e5e7eb;

}

.hero-content {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 50%;
    justify-content: space-between;

}


.All {
    font-size: 5rem;

}

@media(max-width:900px) {
    .All {
        font-size: 3rem;
    }
}

@media(max-width:500px) {
    .All {
        font-size: 2rem;
    }
}


.pg {
    color: #2e3138;

}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    color: #059668;
    font-size: 3rem;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 15px;

}

@media (max-width: 700px) {
    .nav-items {
        display: none;
    }
}


.list {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
@media (max-width: 420px) {
    .list{
        font-size: 1rem;
    }
}

.list i {
    color: #059668;
    flex-shrink: 0;
    margin: 3px;
}

@media (max-width: 468px) {
    .list i{
        margin: 4px;
    }
}

@media (max-width: 435px) {
    .list i{
        margin: 2px;
    }
}

.nav-items a {
    text-decoration: none;
    color: #6b7280;
}

.sign-in-btn {

    background-color: #059668;
    border-radius: 7px;
    padding: 1rem 2rem;
    display: inline-block;
    text-decoration: none;
    color: white;
    
}

.view {

    background-color: #d0d0d0;
    border-radius: 7px;
    padding: 1rem 2rem;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.Order-list {
    list-style: none;
    color: #2e3138;
}


.order-list-container {
    display: flex;
    width: 100%;
}


.Same {
    background: #d0d0d0;
    border-radius: 2rem;
    width: fit-content;
    color: #2e3138;
    padding: 2px 10px;
}

@media (max-width: 670px) {
    .Same {
        font-size: 1rem;
    }
}


.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    flex-basis: 50%;
    width: 100%;
    box-sizing: border-box;
    
}


@media (max-width: 623px) {
    .hero-container {
        display: inline-block;
    }
}


.veg {
    width: 50rem;
    height: 40rem;
    border-radius: 1rem;
    object-fit: cover;
}



@media (max-width: 925px) {
    .veg {
        width: 30rem;
        height: 20rem;
        align-items: center;
    }
}



@media (max-width: 634px) {
    .veg {
        display: block;
        width: 100%;
        height: 40rem;
    }
}

@media (max-width: 439px) {
    .veg {
        display: block;
        width: 100%;
        height: 190px;
    }
}

.btn {
    display: flex;
    gap: 2rem;
    width: fit-content;
}


@media (max-width: 735px) {
    .btn {
        flex-direction: column;
    }
}

@media (max-width: 420px) {
    .btn {
        font-size: 10px;

    }
}

.How-container {
    background-color: rgb(208, 220, 215);
    padding: 4rem 0rem;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

}


.Fresh-Text-content {
    text-align: center;
    margin-bottom: 4rem;
}



.Fresh-Text-content h3 {
    font-size: 3.2rem;
    font-weight: 500;
    padding-bottom: 5px;
}

@media (max-width: 420px) {
    .Fresh-Text-content h3 {
        font-size: 1.5rem;
    }
}

.Fresh-Text-content p {
color: #635c4b
}

p {
    font-size: 1.7rem;
}

@media (max-width: 420px) {
    p {
        font-size: 1rem;
    }
}


.How-it-works-card-container {
    display: flex;
    gap: 2rem;
    padding: 1.5rem 0rem;
    width: 100%;


}

@media (max-width: 858px) {
    .How-it-works-card-container {
        display: flex;
        flex-direction: column;
    }
}

.How-it-works-card-container i {
    font-size: 3rem;
    color: #059668;
    background-color: #d8f1e1;
    width: fit-content;
    padding: 5px;
}

@media (max-width: 420px) {
    .How-it-works-card-container i{
       font-size:1rem ;
    }
}


.How-it-works-card {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1.5rem;
    border-radius: 8px;
    background-color: white;
}

.How-it-works-card p {
    color: #4b5563;
}

.How-it-works-card h3 {
    font-size: 2rem;
    font-weight: 500;
}

@media (max-width: 623px) {
    .How-it-works-card h3 {
        font-size: 1.3rem;
    }
}


.Everything-container {
    padding: 4rem 0rem;
    width: 100%;
    box-sizing: border-box;
}

.Text-content {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.Text-content h3 {
    font-size: 3.2rem;
    font-weight: 500;
    padding-bottom: 5px;
}

@media (max-width: 420px) {
    .Text-content h3 {
        font-size: 1.3rem;
    }
}

@media (max-width: 420px) {
    .Text-content p {
        font-size: 1rem;
    }
}


.Text-content p {
    color: #4b5563;
}


.Ecard-container ul {
    list-style: none;
    color: #4b5563;
}

.Ecard-container p {
    color: #4b5563;
}

.Ecard-container {
    display: flex;
    gap: 2rem;
    margin-top: 4rem;

}

@media (max-width: 875px) {
    .Ecard-container {
        display: flex;
        flex-direction: column;
    }
}

.Everything-you-need-card {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    width: 100%;
    
}


@media (max-width: 420px) {
    .Everything-you-need-card{
        font-size: 1rem;
    }
}


.Everything-you-need-card h3 {
    font-size: 2rem;
    font-weight: 500;
}

@media (max-width: 623px) {
    .Everything-you-need-card h3 {
        font-size: 1.5rem;
    }
}


.Ready-container {
    background-color: rgb(208, 220, 215);
    padding: 5rem 0rem;
}

.Ready-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #059668;
    padding: 5rem;
    border-radius: 10px;
    width: fit-content;
    padding: 5rem 4rem;
    gap: 2rem;

}


@media (max-width: 420px) {
    .Ready-content {
        padding: 20px 10px;
        text-align: center;
    }
}


.Ready-text h3 {
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    
}

@media (max-width: 420px) {
    .Ready-text h3 {
      font-size: 1.5rem;
    }
}

.Ready-text p {
    color: white;
    text-align: center;
    line-height: 1.6;
    font-size: 1.7rem;
}

@media (max-width: 634px) {
    .Ready-text p {
        font-size: 1.1rem;
    }
}


.Ready-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.Account {
    background-color: white;
    width: fit-content;
    border-radius: 5px;
    border-width: 0px;
    padding: 10px;
    font-weight: 700;
}

@media (max-width: 420px) {
    .Account {
        font-size: 1.1rem;
    }
}



.Reserved {
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 7rem;
}

@media (max-width: 875px) {
    .Reserved {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}


.Reserved::before {
    content: '';
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e5e7eb;
}

.Reserved p {
    color: #6b7280;
}